.elementor-40 .elementor-element.elementor-element-a5a5368:not(.elementor-motion-effects-element-type-background),
.elementor-40 .elementor-element.elementor-element-a5a5368>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #986901;
}

.elementor-40 .elementor-element.elementor-element-a5a5368>.elementor-background-overlay {
    background-image: url("../../2023/05/Copy-of-Untitled-11.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.44;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-a5a5368 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #33652B;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-40 .elementor-element.elementor-element-3003ace0 {
    --spacer-size: 100px;
}

.elementor-40 .elementor-element.elementor-element-4b5b21b {
    --spacer-size: 121px;
}

.elementor-40 .elementor-element.elementor-element-7a0aa8dd .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 115px;
    font-weight: 600;
    line-height: 45px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-46abcad8 {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-5207522 {
    --spacer-size: 100px;
}

.elementor-40 .elementor-element.elementor-element-71f3d99b {
    --spacer-size: 50px;
}

.elementor-40 .elementor-element.elementor-element-4341a08 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 37px;
}

.elementor-40 .elementor-element.elementor-element-4341a08>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-9dc7d4a {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 37px;
}

.elementor-40 .elementor-element.elementor-element-9dc7d4a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-414f3f0 {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-af8c3ab {
    text-align: left;
}

.elementor-40 .elementor-element.elementor-element-af8c3ab img {
    width: 100%;
}

.elementor-40 .elementor-element.elementor-element-9fa688a {
    text-align: left;
}

.elementor-40 .elementor-element.elementor-element-9fa688a img {
    width: 100%;
}

.elementor-40 .elementor-element.elementor-element-0d8233e {
    text-align: left;
}

.elementor-40 .elementor-element.elementor-element-0d8233e img {
    width: 100%;
}

.elementor-40 .elementor-element.elementor-element-f74d0bb {
    text-align: left;
}

.elementor-40 .elementor-element.elementor-element-f74d0bb img {
    width: 100%;
}

.elementor-40 .elementor-element.elementor-element-c04dd22 {
    text-align: left;
}

.elementor-40 .elementor-element.elementor-element-c04dd22 img {
    width: 32%;
}

.elementor-40 .elementor-element.elementor-element-4109aa7 {
    --spacer-size: 100px;
}

.elementor-40 .elementor-element.elementor-element-850cf85 {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-e017575 {
    --spacer-size: 88px;
}

.elementor-40 .elementor-element.elementor-element-0ef973e {
    --spacer-size: 90px;
}

.elementor-40 .elementor-element.elementor-element-d64f3e7 img {
    width: 69%;
}

.elementor-40 .elementor-element.elementor-element-e98dd94:not(.elementor-motion-effects-element-type-background),
.elementor-40 .elementor-element.elementor-element-e98dd94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #986901;
}

.elementor-40 .elementor-element.elementor-element-e98dd94>.elementor-background-overlay {
    background-image: url("../../2023/05/Copy-of-Untitled-13.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.35;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-e98dd94 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-40 .elementor-element.elementor-element-e98dd94>.elementor-shape-top .elementor-shape-fill {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-e98dd94>.elementor-shape-top svg {
    height: 40px;
}

.elementor-40 .elementor-element.elementor-element-e98dd94>.elementor-shape-bottom .elementor-shape-fill {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-e98dd94>.elementor-shape-bottom svg {
    height: 40px;
}

.elementor-40 .elementor-element.elementor-element-f562107 {
    --spacer-size: 40px;
}

.elementor-40 .elementor-element.elementor-element-743fbbe {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-743fbbe .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 45px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-8fc8ad9 {
    --spacer-size: 35px;
}

.elementor-40 .elementor-element.elementor-element-d53add2 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 37px;
}

.elementor-40 .elementor-element.elementor-element-d53add2>.elementor-widget-container {
    margin: 0px 200px 0px 200px;
}

.elementor-40 .elementor-element.elementor-element-cacf9eb {
    --spacer-size: 100px;
}

.elementor-40 .elementor-element.elementor-element-765b4889:not(.elementor-motion-effects-element-type-background),
.elementor-40 .elementor-element.elementor-element-765b4889>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #986901;
}

.elementor-40 .elementor-element.elementor-element-765b4889>.elementor-background-overlay {
    background-image: url("../../2023/05/Untitled-design-99.jpg");
    background-size: cover;
    opacity: 0.08;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-765b4889 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-40 .elementor-element.elementor-element-765b4889>.elementor-shape-top .elementor-shape-fill {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-765b4889>.elementor-shape-top svg {
    height: 34px;
}

.elementor-40 .elementor-element.elementor-element-4292df6 {
    --spacer-size: 40px;
}

.elementor-bc-flex-widget .elementor-40 .elementor-element.elementor-element-9d1ca49.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40 .elementor-element.elementor-element-9d1ca49.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40 .elementor-element.elementor-element-252c4fc7 {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-252c4fc7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-9a761dc {
    --spacer-size: 10px;
}

.elementor-40 .elementor-element.elementor-element-e28ba22 {
    --e-image-carousel-slides-to-show: 2;
}

.elementor-40 .elementor-element.elementor-element-e28ba22 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-40 .elementor-element.elementor-element-e28ba22 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 46px;
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-e28ba22 .elementor-swiper-button.elementor-swiper-button-prev svg,
.elementor-40 .elementor-element.elementor-element-e28ba22 .elementor-swiper-button.elementor-swiper-button-next svg {
    fill: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-e28ba22 .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-e28ba22 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: #4F3C00;
    opacity: 1;
}

.elementor-40 .elementor-element.elementor-element-e28ba22 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 10px 10px 10px 10px;
}

.elementor-40 .elementor-element.elementor-element-e28ba22>.elementor-widget-container {
    margin: 35px 35px 35px 35px;
}

.elementor-40 .elementor-element.elementor-element-6e37decc {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-6faccd4b {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-76ca0d5b {
    --spacer-size: 25px;
}

.elementor-40 .elementor-element.elementor-element-d2a0e5b:not(.elementor-motion-effects-element-type-background),
.elementor-40 .elementor-element.elementor-element-d2a0e5b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #986901;
}

.elementor-40 .elementor-element.elementor-element-d2a0e5b>.elementor-background-overlay {
    background-image: url("../../2023/05/signal-2023-05-04-232116_002.gif");
    background-position: center center;
    background-size: cover;
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-d2a0e5b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-40 .elementor-element.elementor-element-d2a0e5b>.elementor-shape-top .elementor-shape-fill {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-d2a0e5b>.elementor-shape-top svg {
    height: 40px;
}

.elementor-40 .elementor-element.elementor-element-d6c6d7f {
    --spacer-size: 68px;
}

.elementor-40 .elementor-element.elementor-element-0e58188 {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-0e58188 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 45px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-0e58188>.elementor-widget-container {
    padding: 18px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-1b85b1b {
    --spacer-size: 68px;
}

.elementor-bc-flex-widget .elementor-40 .elementor-element.elementor-element-7f7950d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40 .elementor-element.elementor-element-7f7950d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40 .elementor-element.elementor-element-7f7950d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40 .elementor-element.elementor-element-7f7950d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #4F3C008C;
}

.elementor-40 .elementor-element.elementor-element-7f7950d>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-40 .elementor-element.elementor-element-7f7950d>.elementor-element-populated,
.elementor-40 .elementor-element.elementor-element-7f7950d>.elementor-element-populated>.elementor-background-overlay,
.elementor-40 .elementor-element.elementor-element-7f7950d>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-40 .elementor-element.elementor-element-7f7950d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-3b3d0cc {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-3b3d0cc .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 48px;
    font-weight: 500;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-ae72063 {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-ae72063 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 53px;
    font-weight: 500;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-92bb9e4 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 37px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-40 .elementor-element.elementor-element-92bb9e4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-e5b2292:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40 .elementor-element.elementor-element-e5b2292>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #4F3C008C;
}

.elementor-40 .elementor-element.elementor-element-e5b2292>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-40 .elementor-element.elementor-element-e5b2292>.elementor-element-populated,
.elementor-40 .elementor-element.elementor-element-e5b2292>.elementor-element-populated>.elementor-background-overlay,
.elementor-40 .elementor-element.elementor-element-e5b2292>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-40 .elementor-element.elementor-element-e5b2292>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-a7d8949 {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-a7d8949 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 45px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-a7d8949>.elementor-widget-container {
    padding: 18px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-8fd2b96 {
    --spacer-size: 45px;
}

.elementor-40 .elementor-element.elementor-element-61d6da8 img {
    
}

.elementor-40 .elementor-element.elementor-element-6c6bc39 {
    --spacer-size: 35px;
}

.elementor-40 .elementor-element.elementor-element-a55baa3:not(.elementor-motion-effects-element-type-background),
.elementor-40 .elementor-element.elementor-element-a55baa3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #986901;
}

.elementor-40 .elementor-element.elementor-element-a55baa3>.elementor-background-overlay {
    background-image: url("../../2023/05/signal-2023-05-05-041713_003.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.14;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-a55baa3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-40 .elementor-element.elementor-element-a55baa3>.elementor-shape-top .elementor-shape-fill {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-a55baa3>.elementor-shape-top svg {
    height: 40px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-40 .elementor-element.elementor-element-3c5beca {
    --spacer-size: 55px;
}

.elementor-40 .elementor-element.elementor-element-7927096 {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-7927096 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 45px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-63d5b58 {
    --spacer-size: 50px;
}

.elementor-40 .elementor-element.elementor-element-805332c {
    --spacer-size: 25px;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center .eae-tl-icon-wrapper {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-left .eae-tl-icon-wrapper {
    margin-right: 0px !important;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-right .eae-tl-icon-wrapper {
    margin-left: 0px !important;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-timeline-item {
    padding-bottom: 50px;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-content {
    text-align: center;
    flex-direction: column;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: #4F3C00;
    border-radius: 10px 10px 10px 10px;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-image {
    width: 30%;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-column .eae-tl-content {
    width: 100%;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-tl-content {
    width: calc(100% - 30%);
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-tl-content {
    width: calc(100% - 30%);
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-column .eae-tl-item-image {
    margin: 0 auto 0px auto;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-center:not(.eae-timeline-layout-rtl) .eae-timeline-item:nth-child(even):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-center.eae-timeline-layout-rtl .eae-timeline-item:nth-child(even):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-center:not(.eae-timeline-alternate-yes) .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-center.eae-timeline-alternate-yes .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-center .eae-timeline-item:nth-child(even):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-center:not(.eae-timeline-alternate-yes) .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-center.eae-timeline-alternate-yes .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-left:not(.eae-timeline-alternate-yes) .eae-timeline-item:not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-left.eae-timeline-alternate-yes .eae-timeline-item:nth-child(even):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-left.eae-timeline-alternate-yes .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-left:not(.eae-timeline-alternate-yes) .eae-timeline-item:not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-left.eae-timeline-alternate-yes .eae-timeline-item:nth-child(even):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-left.eae-timeline-alternate-yes .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-right:not(.eae-timeline-alternate-yes) .eae-timeline-item:not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-right.eae-timeline-alternate-yes .eae-timeline-item:nth-child(even):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row .eae-layout-right.eae-timeline-alternate-yes .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-right:not(.eae-timeline-alternate-yes) .eae-timeline-item:not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-right.eae-timeline-alternate-yes .eae-timeline-item:nth-child(even):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-left: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193.image-position-row-reverse .eae-layout-right.eae-timeline-alternate-yes .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes) .eae-tl-item-image {
    margin-right: 0px;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 33px;
    font-weight: 600;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-content {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center.eae-timeline .eae-timeline-item:nth-child(even) .eae-tl-item-content::before {
    border-color: transparent #4F3C00 transparent transparent !important;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center.eae-timeline .eae-timeline-item:nth-child(odd) .eae-tl-item-content::before {
    border-color: transparent transparent transparent #4F3C00 !important;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-right.eae-timeline .eae-tl-item-content::before {
    border-color: transparent transparent transparent #4F3C00 !important;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-left.eae-timeline .eae-tl-item-content::before {
    border-color: transparent #4F3C00 transparent transparent !important;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-meta {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-meta-inner {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-meta,
.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-meta-inner {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-timeline-item:hover .eae-tl-item-meta {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-timeline-item:hover .eae-tl-item-meta-inner {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-tl-item-meta {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-tl-item-meta-inner {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-timline-progress-bar {
    background: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-timline-progress-bar .eae-pb-inner-line {
    background: #242021;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center .eae-timline-progress-bar {
    width: 3px;
    left: calc(50% - 3px/2);
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-left .eae-timline-progress-bar {
    width: 3px;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-right .eae-timline-progress-bar {
    width: 3px;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-stacked {
    background-color: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-framed {
    border-color: #4F3C00;
    background-color: #fff;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-framed i {
    color: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-framed svg {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-default i {
    color: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-default svg {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-stacked i {
    color: #fff;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon-view-stacked svg {
    fill: #fff;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-stacked {
    background-color: #242021;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-framed {
    border-color: #242021;
    background-color: #2F4212;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-framed i {
    color: #242021;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-framed svg {
    fill: #242021;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-default i {
    color: #242021;
    border-color: #242021;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-default svg {
    fill: #242021;
    border-color: #242021;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-stacked i {
    color: #2F4212;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-tl-item-focused .eae-icon-item_icon.eae-icon-view-stacked svg {
    fill: #2F4212;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon i {
    font-size: 46px;
    transform: rotate(0deg);
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon svg {
    width: 46px;
}

.elementor-40 .elementor-element.elementor-element-b106193 .eae-icon-item_icon.eae-icon {
    padding: 7px;
    border-style: solid;
}

.elementor-40 .elementor-element.elementor-element-39ee9f9 {
    --spacer-size: 50px;
}

.elementor-40 .elementor-element.elementor-element-7e31be9 {
    --spacer-size: 50px;
}

.elementor-40 .elementor-element.elementor-element-6636366:not(.elementor-motion-effects-element-type-background),
.elementor-40 .elementor-element.elementor-element-6636366>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #986901;
}

.elementor-40 .elementor-element.elementor-element-6636366>.elementor-background-overlay {
    background-image: url("../../2023/05/65db80662c14ccd13783cd78039bef05.gif");
    background-position: center center;
    background-size: cover;
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40 .elementor-element.elementor-element-6636366 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-40 .elementor-element.elementor-element-6636366>.elementor-shape-top .elementor-shape-fill {
    fill: #4F3C00;
}

.elementor-40 .elementor-element.elementor-element-6636366>.elementor-shape-top svg {
    height: 40px;
}

.elementor-40 .elementor-element.elementor-element-e694184 {
    --spacer-size: 55px;
}

.elementor-40 .elementor-element.elementor-element-0ac7a49 {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-0ac7a49 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Boogaloo", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 45px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 19px #000000;
}

.elementor-40 .elementor-element.elementor-element-979e931 {
    --spacer-size: 10px;
}

.elementor-40 .elementor-element.elementor-element-d5da907 {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-44a8d64 img {
    width: 19%;
}

.elementor-40 .elementor-element.elementor-element-8faeda8 {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-24da5fa {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 37px;
}

.elementor-40 .elementor-element.elementor-element-24da5fa>.elementor-widget-container {
    margin: 0px 150px 0px 150px;
}

.elementor-40 .elementor-element.elementor-element-9e0764e {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 65px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-40 .elementor-element.elementor-element-9e0764e .elementor-widget-container {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-9e0764e .elementor-social-icon {
    background-color: #00000000;
}

.elementor-40 .elementor-element.elementor-element-9e0764e .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-9e0764e .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-40 .elementor-element.elementor-element-c26fe68 {
    --spacer-size: 5px;
}

.elementor-40 .elementor-element.elementor-element-1b3c1a6 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 37px;
}

.elementor-40 .elementor-element.elementor-element-1b3c1a6>.elementor-widget-container {
    margin: 0px 150px 0px 150px;
}

.elementor-40 .elementor-element.elementor-element-4e3c334 {
    --spacer-size: 10px;
}

.elementor-40 .elementor-element.elementor-element-274a401 {
    --spacer-size: 50px;
}

.elementor-40 .elementor-element.elementor-element-d6d9e0e {
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.elementor-40 .elementor-element.elementor-element-d6d9e0e>.elementor-widget-container {
    margin: 0px 100px 0px 100px;
}

@media(max-width:1024px) {
    .elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center.eae-timeline.eae-tl-res-layout-left .eae-timeline-item .eae-tl-item-content::before {
        border-color: transparent #4F3C00 transparent transparent !important;
    }

    .elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center.eae-timeline.eae-tl-res-layout-right .eae-timeline-item .eae-tl-item-content::before {
        border-color: transparent transparent transparent #4F3C00 !important;
    }

    .elementor-40 .elementor-element.elementor-element-b106193 .eae-timeline.eae-layout-center.eae-tl-res-style-mobile .eae-timeline-item:nth-child(odd) .eae-tl-item-content::before {
        border-color: transparent transparent transparent #4F3C00 !important;
    }
}

@media(max-width:767px) {
    .elementor-40 .elementor-element.elementor-element-3003ace0 {
        --spacer-size: 52px;
    }

    .elementor-40 .elementor-element.elementor-element-4b5b21b {
        --spacer-size: 32px;
    }

    .elementor-40 .elementor-element.elementor-element-7a0aa8dd {
        text-align: center;
    }

    .elementor-40 .elementor-element.elementor-element-7a0aa8dd .elementor-heading-title {
        font-size: 90px;
    }

    .elementor-40 .elementor-element.elementor-element-5207522 {
        --spacer-size: 21px;
    }

    .elementor-40 .elementor-element.elementor-element-1a769f0 img {
        width: 67%;
    }

    .elementor-40 .elementor-element.elementor-element-71f3d99b {
        --spacer-size: 66px;
    }

    .elementor-40 .elementor-element.elementor-element-4341a08 {
        text-align: center;
        font-size: 18px;
    }

    .elementor-40 .elementor-element.elementor-element-3c09f665 {
        width: 25%;
    }

    .elementor-40 .elementor-element.elementor-element-9dc7d4a {
        text-align: center;
        font-size: 18px;
    }

    .elementor-40 .elementor-element.elementor-element-55f8f793 {
        width: 25%;
    }

    .elementor-40 .elementor-element.elementor-element-414f3f0 {
        --spacer-size: 15px;
    }

    .elementor-40 .elementor-element.elementor-element-c43cf65 {
        width: 20%;
    }

    .elementor-40 .elementor-element.elementor-element-605ae21 {
        width: 20%;
    }

    .elementor-40 .elementor-element.elementor-element-60eb733 {
        width: 20%;
    }

    .elementor-40 .elementor-element.elementor-element-0d8233e img {
        width: 100%;
    }

    .elementor-40 .elementor-element.elementor-element-22eefa9 {
        width: 20%;
    }

    .elementor-40 .elementor-element.elementor-element-f74d0bb img {
        width: 100%;
    }

    .elementor-40 .elementor-element.elementor-element-0c248f5 {
        width: 20%;
    }

    .elementor-40 .elementor-element.elementor-element-c04dd22 img {
        width: 100%;
    }

    .elementor-40 .elementor-element.elementor-element-4109aa7 {
        --spacer-size: 25px;
    }

    .elementor-40 .elementor-element.elementor-element-e017575 {
        --spacer-size: 15px;
    }

    .elementor-40 .elementor-element.elementor-element-0ef973e {
        --spacer-size: 25px;
    }

    .elementor-40 .elementor-element.elementor-element-743fbbe .elementor-heading-title {
        font-size: 78px;
    }

    .elementor-40 .elementor-element.elementor-element-d53add2>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-40 .elementor-element.elementor-element-cacf9eb {
        --spacer-size: 25px;
    }

    .elementor-40 .elementor-element.elementor-element-4292df6 {
        --spacer-size: 15px;
    }

    .elementor-40 .elementor-element.elementor-element-252c4fc7 .elementor-heading-title {
        font-size: 78px;
    }

    .elementor-40 .elementor-element.elementor-element-e28ba22 {
        --e-image-carousel-slides-to-show: 1;
    }

    .elementor-40 .elementor-element.elementor-element-e28ba22>.elementor-widget-container {
        margin: 10px 10px 10px 10px;
    }

    .elementor-40 .elementor-element.elementor-element-6e37decc {
        --spacer-size: 29px;
    }

    .elementor-40 .elementor-element.elementor-element-6faccd4b {
        --spacer-size: 29px;
    }

    .elementor-40 .elementor-element.elementor-element-76ca0d5b {
        --spacer-size: 33px;
    }

    .elementor-40 .elementor-element.elementor-element-d6c6d7f {
        --spacer-size: 20px;
    }

    .elementor-40 .elementor-element.elementor-element-0e58188 .elementor-heading-title {
        font-size: 78px;
    }

    .elementor-40 .elementor-element.elementor-element-1b85b1b {
        --spacer-size: 15px;
    }

    .elementor-40 .elementor-element.elementor-element-ae72063 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-40 .elementor-element.elementor-element-92bb9e4 {
        text-align: center;
    }

    .elementor-40 .elementor-element.elementor-element-a7d8949 .elementor-heading-title {
        font-size: 78px;
    }

    .elementor-40 .elementor-element.elementor-element-61d6da8 img {
        width: 100%;
    }

    .elementor-40 .elementor-element.elementor-element-7927096 .elementor-heading-title {
        font-size: 78px;
    }

    .elementor-40 .elementor-element.elementor-element-63d5b58 {
        --spacer-size: 15px;
    }

    .elementor-40 .elementor-element.elementor-element-805332c {
        --spacer-size: 5px;
    }

    .elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center.eae-timeline.eae-tl-res-layout-left .eae-timeline-item .eae-tl-item-content::before {
        border-color: transparent #4F3C00 transparent transparent !important;
    }

    .elementor-40 .elementor-element.elementor-element-b106193 .eae-layout-center.eae-timeline.eae-tl-res-layout-right .eae-timeline-item .eae-tl-item-content::before {
        border-color: transparent transparent transparent #4F3C00 !important;
    }

    .elementor-40 .elementor-element.elementor-element-b106193 .eae-timeline.eae-layout-center.eae-tl-res-style-mobile .eae-timeline-item:nth-child(odd) .eae-tl-item-content::before {
        border-color: transparent #4F3C00 transparent transparent !important;
    }

    .elementor-40 .elementor-element.elementor-element-6636366>.elementor-background-overlay {
        background-position: -366px -98px;
        background-repeat: no-repeat;
    }

    .elementor-40 .elementor-element.elementor-element-0ac7a49 .elementor-heading-title {
        font-size: 78px;
    }

    .elementor-40 .elementor-element.elementor-element-979e931 {
        --spacer-size: 36px;
    }

    .elementor-40 .elementor-element.elementor-element-44a8d64 img {
        width: 52%;
    }

    .elementor-40 .elementor-element.elementor-element-24da5fa>.elementor-widget-container {
        margin: 00px 00px 00px 00px;
    }

    .elementor-40 .elementor-element.elementor-element-9e0764e {
        --icon-size: 60px;
    }

    .elementor-40 .elementor-element.elementor-element-1b3c1a6>.elementor-widget-container {
        margin: 00px 00px 00px 00px;
    }

    .elementor-40 .elementor-element.elementor-element-4e3c334 {
        --spacer-size: 47px;
    }

    .elementor-40 .elementor-element.elementor-element-274a401 {
        --spacer-size: 5px;
    }

    .elementor-40 .elementor-element.elementor-element-d6d9e0e {
        text-align: center;
    }

    .elementor-40 .elementor-element.elementor-element-d6d9e0e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-40 .elementor-element.elementor-element-7a4fdad9 {
        width: 54.202%;
    }

    .elementor-40 .elementor-element.elementor-element-3c09f665 {
        width: 58.011%;
    }

    .elementor-40 .elementor-element.elementor-element-55f8f793 {
        width: 41.851%;
    }

    .elementor-40 .elementor-element.elementor-element-c43cf65 {
        width: 15%;
    }

    .elementor-40 .elementor-element.elementor-element-605ae21 {
        width: 15%;
    }

    .elementor-40 .elementor-element.elementor-element-60eb733 {
        width: 15%;
    }

    .elementor-40 .elementor-element.elementor-element-22eefa9 {
        width: 15%;
    }

    .elementor-40 .elementor-element.elementor-element-0c248f5 {
        width: 39.992%;
    }

    .elementor-40 .elementor-element.elementor-element-51f6a55d {
        width: 65.691%;
    }

    .elementor-40 .elementor-element.elementor-element-537613f9 {
        width: 34.084%;
    }

    .elementor-40 .elementor-element.elementor-element-6fe370c9 {
        width: 45.623%;
    }
}

@media(min-width:1025px) {
    .elementor-40 .elementor-element.elementor-element-e98dd94>.elementor-background-overlay {
        background-attachment: fixed;
    }
}